.img {
  height: 200px;
}
.img img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
body {
  font-family: sans-serif;
}
.header {
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  /* grid-auto-flow: column; */
  max-width: 100%;
  grid-template-columns: repeat(21, 20px);
  justify-content: center;
}
.header * {
  cursor: pointer;
}
.p {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 300px 50px 180px 180px 50px 300px;
  align-items: center;
  grid-gap: 10px;
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid grey;
  justify-content: center;
}
.p.off {
  opacity: 0.2;
}
.p.tok .t {
  color: green;
  font-weight: 600;
}
.p.aok .am {
  color: green;
  font-weight: 600;
}
.p.terr .t {
  color: grey;
  font-weight: 600;
}
.p.aerr .am {
  color: red;
  font-weight: 600;
}
.p .m {
  text-align: center;
}
