.img {
    height: 200px;
    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

body {
    font-family: sans-serif;
}

.header {
    display: grid;
    justify-items: center;
    grid-gap: 20px;
    /* grid-auto-flow: column; */
    max-width: 100%;
    grid-template-columns: repeat(21, 20px);
    justify-content: center;
    * {
        cursor: pointer;
    }
}

.p {
    &.off {
        opacity: 0.2;
    }
    &.tok {
        .t {
            color: green;
            font-weight: 600;
        };
    }
    &.aok {
        .am {
            color: green;
            font-weight: 600;
        };
    }
    &.terr {
        .t {
            color: grey;
            font-weight: 600;
        };
    }
    &.aerr {
        .am {
            color: red;
            font-weight: 600;
        };
    }

    .m {
        text-align: center;
    }

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 300px 50px 180px 180px 50px 300px;
    align-items: center;
    grid-gap: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid grey;
    justify-content: center;

}
